# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true
results/ filter=lfs diff=lfs merge=lfs -text
*.h5ad !text !filter !merge !diff
